#main-header {
    #header-logo {
        max-height: 40px;
    }
    font-family: $header-font-family;
    background:none;
    border-bottom: 1px solid #c2c2c2;
	.top-bar-left{
		.menu-icon{
			float: right;
			margin:13px 0;
		}
	}
    .topbar-center-logo {
        padding-top: 23px;
        padding-bottom: 22px;
        .menu {
        	li{
        		a{
	                color: $dark-gray;
	                transition: all 0.3s ease-out;
	                &:hover{
	                	color: $primary-color;
	                	background:none;
	                }
	            }
	            &.is-active{
	            	a{
	            		color: $primary-color;
	            		background:none;
	            	}
	            }
        	}

        }
    }

    .top-bar-center {
        flex: 1 0 auto;
		.menu{
			a{
				padding-left:20px;
				padding-right:20px;
			}
		}
        @include breakpoint(small down) {
            // display: none;
            margin-top: 20px;
            border-top:$border;

            li{
            	text-align: center;
            	border-bottom: $border;
            	a{
            		padding-top:30px;
	            	padding-bottom:30px;
            	}
            }
        }
    }

	.top-bar-right{
		.menu{
			a{
				padding-right:10px;
				padding-left:10px;
			}
			@include breakpoint(medium down) {
				-webkit-box-pack: center;
			    -ms-flex-pack: center;
			    justify-content: center;
				margin-top:20px;
				a{
					margin: 0 20px;
				}
			}
		}
	}
    .topbar-center-logo-mobile {
        .menu-icon {
            vertical-align: text-top;
        }
    }
}